body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: black;
    color: rgb(219, 10, 10);
    font-size: 1.2rem;
}

img {
    max-width: 90%;
    max-height: 90%;
    width: 100em;
    height: 90em;
}

h1 {
    margin-block-start: 0.40em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
    background-color: rgb(59, 17, 17);
    box-shadow: 0 0 30px rgba(136, 136, 136, 0.61);
    border-radius: 8px;
    color: white;
}

td {
    width: 15em;
    height: 2em;
}

a {
    color: white;
    text-decoration: none;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2em; */
}

#sla {
    margin-top: 2%;
    gap: 2em;
}

.container {
    flex-direction: column;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.carrossel {
    display: grid;
    background-color: rgb(59, 17, 17);
    max-width: 90%;
    /* height: 30em; */
    max-height: 90%;
    height: 450px;
    width: 2500px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(136, 136, 136, 0.61);
}

.filmes {
    margin: 1em;
    max-width: 90%;
    width: 400px;
    max-height: 90%;
    height: 400px;
    /* padding: 2%; */
    transition: transform 0.2s ease-in-out;
}

.filmes:hover {
    transform: scale(1.1);
}

.rectList {
    background-color: rgb(59, 17, 17);
    box-shadow: 0 0 30px rgba(136, 136, 136, 0.61);
    border-radius: 8px;
    max-width: 90%;
}

.fontList {
    font-size: 1.2rem;
    margin-left: 2em;
    /* margin-right: 2em; */
    line-height: 1.5em;
}

/* .tabela {
    display: flex;
    justify-content: flex-end;
} */

/* .divLado {
    display: flex;
} */

/* Para diferentes tamanhos de tela */
@media (max-width: 1920px) {

}

@media (max-width: 1680px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 800px) {

}
